<div class="container mt-4">

    <hr class="text-muted">

    <footer >
        <p class="text-muted">Copyright &copy; 2022 <a href="https://twitter.com/boniatillo_com">Arian Fornaris</a>. Isla de la Juventud, Cuba.</p>
    </footer>

</div>

</body>
</html>