<%- include("_header") %>

    <div class="container mt-3">

        <p>
            New author:
        </p>

        <form method="post">

            <div class="mb-3">
                <label for="nameInput" class="form-label">Author ID</label>
                <input class="form-control" id="nameInput" name="name" value="<%= name %>">
                <div class="form-text">
                    The ID must be a valid filesystem folder name.
                </div>
            </div>
            

            <button type="submit" class="btn btn-primary">Create</button>
        </form>

    </div>
    <%- include("_footer") %>